<!DOCTYPE html>
<html>
  <head>
    <title>SteveMayszak.com</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Running:</h1>
    <p> <%= runningconfig %></p>
  </body>
</html>
